* {    
    box-sizing  : border-box;
    margin      : 0;
    padding     : 0;
}

:root {
    /* Default Theme */
    --primary-color     : #2F2B23ff;
    --secondary-color   : #63343Dff;
    --accent-color      : #D63854ff;
    --background-color  : #2F2B23ff;
    --text-color        : rgb(151, 201, 254);
    --error-text-color  : #FF0000FF;
    --interesant-color  : #c51a1a2e; /* This is a color that I found interesant */
    --semi-transparent  : rgba(255, 255, 255, 0.3);
}

.dark-theme {
    /* Dark Theme */
    --primary-color     : #386BA2ff;
    --secondary-color   : #63343Dff;
    --accent-color      : #D62C2Aff;
    --background-color  : #2F2B23ff;
    --text-color        : #526231ff;
    --error-text-color  : #FF0000FF;
}

body {
    height          : 100%;
    margin          : 0;
    padding         : 0;
    font-family     : 'Roboto', sans-serif;
    background-color: var(--background-color);
    color           : var(--text-color);
    transition      : 0.3s;
}

.main-content {
    min-height      : 75vh;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    padding         : 0 20px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow      : inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    border-radius   : 10px;
    background-color: var(--accent-color);
}

.header {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: var(--background-color);
    box-shadow      : 0 0 10px var(--accent-color);
}

/* header */
.header a {
    text-decoration : none;
    color           : var(--text-color);
    margin          : 0 5px;
    font-size       : 1.2rem;
    transition      : 0.3s;
}

.header a.active {
    text-decoration : none;
    color           : var(--accent-color) !important;
}

.logo {
    display         : flex;
    position        : relative;
    justify-content : center;
    align-items     : center;
    text-decoration : none;
    margin          : 0 5px;
    font-size       : 1.5rem;
    transition      : 0.3s;
    -webkit-filter  : drop-shadow(0px 1px 1px var(--accent-color));
    filter          : drop-shadow(0px 1px 1px var(--accent-color));
}

.logo:hover {
    -webkit-filter  : drop-shadow(0px 5px 5px var(--accent-color));
    filter          : drop-shadow(0px 5px 5px var(--accent-color));
}

.h1 {
    display         : flex;
    position        : relative;
    justify-content : center;
    align-items     : center;
    margin          : inherit;
    font-size       : 2rem;
    color           : var(--text-color);
    transition      : 0.3s;
}

.navbar {
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.navbar-brand {
    display			:fixed;
    justify-content	: center;
    align-items		: center;
    text-decoration	: none;
    color			: var(--text-color);
    font-size		: 1.5rem;
    margin			: 0 5px;
    transition		: 0.3s;
    z-index			: 100;
}

.navbar-brand a {
    text-decoration	: none;
    color			: var(--text-color);
    margin			: 0 5px;
    font-size		: 1.5rem;
    transition		: 0.3s;
}

.navbar-brand span {
    font-size	: 2rem;
    color		: var(--text-color);
    transition	: 0.3s;
}

.navbar-brand span:hover {
    color: var(--accent-color);
}

.navbar-brand a:hover {
    color: var(--accent-color);
}

.navbar a {
    text-decoration	: none;
    color			: var(--text-color);
    margin			: 0 5px;
    font-size		: 1.3rem;
    transition		: 0.3s;
}

.navbar a:hover {
    color: var(--accent-color);
}

.navbar-nav {
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.nav-item {
    display			: flex;
    justify-content	: center;
    align-items		: center;
    text-decoration	: none;
    color			: var(--text-color);
    font-size		: 1.2rem;
    transition		: 0.3s;
    border			: 1px solid var(--text-color);
    border-radius	: 5px;
}

.nav-item:hover {
    color	: var(--accent-color);
    border	: 1px solid var(--accent-color);
}

.nav-item a {
    text-decoration	: none;
    color			: var(--text-color);
    margin			: 0 5px;
    font-size		: 1.2rem;
    transition		: 0.3s;
}

.nav-item a:hover {
    color: var(--accent-color);
}

.navbar-nav li {
    list-style	: none;
    margin		: 0 5px;
}

.navbar-nav li a {
    text-decoration	: none;
    color			: var(--text-color);
    font-size		: 1.2rem;
    transition		: 0.3s;
}

.navbar-nav li a:hover {
    color: var(--accent-color);
}

/* cards */
.card {
    display					: flex;
    padding					: 20px;
    border-radius			: 5px;
    color					: var(--text-color);
    background-color		:  var(--background-color);
    box-shadow				: 0 0 10px var(--background-color);
    -webkit-backdrop-filter	: blur(20px);
    backdrop-filter			: blur(20px);
    transition				: 0.3s;
}

.card h1 {
    margin-bottom	: 20px;
    color			: var(--accent-color);
}

.card p {
    margin-bottom: 20px;
}

.card a {
    text-decoration	: none;
    color			: var(--accent-color);
    transition		: 0.3s;
}

.card a:hover {
    color: var(--secondary-color);
}


/* main */
.row {
    gap     		: 10px;
    overflow		: hidden;
    display			: flex;
    flex-wrap		: wrap;
    justify-content	: center;
    align-items		: center;
    padding			: 5px 0;
}

.main-content {
    background-image    : linear-gradient(#000000c7,#00000054), url('../img/cover-2.png');
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
}

.main-content .card {
    color			: var(--text-color);
    background-color: transparent;
    transition		: 0.3s;    
}

#result {
    position                : fixed;
    top                     : 0;
    left                    : 0;
    width                   : 100%;
    height                  : 100%;
    display                 : none;
    justify-content         : center;
    align-items             : center;
    background-color        : rgba(0, 0, 0, 0.5);
    z-index                 : 100;
    backdrop-filter         : blur(5px);
    -webkit-backdrop-filter : blur(5px);
    transition              : 0.3s;
}

#result .card {
    color                   : var(--text-color);
    background-color        : var(--background-color);
    backdrop-filter         : blur(5px);
    -webkit-backdrop-filter : blur(5px);
    transition              : 0.3s;
}

.show {
    display                 : flex !important;
    animation               : showResultAnimation 0.5s;
    transition: 0.3s;
}

.vanish {
    display                 : none;
    animation               : vanishResultAnimation 0.5s;
    transition: 0.3s;
}

/* footer */
.footer {
    background-color    : var(--background-color);
    color               : var(--text-color);
    margin              : 0;
}

.footer ul {
    list-style      : none;
    font-size       : 1.2rem;
    display         : grid;
    justify-content : center;
    align-items     : center;
    align-self      : center;
    margin          : auto;
    padding         : inherit;
}

.footer a {
    text-decoration : none;
    color           : var(--text-color);
}

.icon {
    filter: invert(1);
    transition: 0.3s;
}

.icon:hover, .icon:active, .icon:focus {
    filter: invert(0.9) saturate(3) hue-rotate(100deg) brightness(0.5) contrast(1.5) !important;
    transition: 0.3s;

}

/* Common styles for all input types */
input, input[type="text"], input[type="number"] {
  color-scheme: light dark;
  padding: 10px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Submit button styles */
input[type="submit"] {
  background-color: var(--accent-color);
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  background-color: var(--accent-color);
}

/* Text and number input styles */
input[type="text"],
input[type="number"] {
  background-color: var(--semi-transparent);
}

/* Placeholder color */
input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: var(--text-color);
}

/* Focus styles */
input[type="text"]:focus,
input[type="number"]:focus {
  background-color: var(--semi-transparent);
  color: var(--text-color);
}

/* Radio button styles */
input[type="radio"] {
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

input[type="radio"]:checked {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

input[type="radio"]:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

input[type="radio"]:active {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

input[type="radio"]:focus {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

/* Radio button inner circle */
input[type="radio"]::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--text-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

input[type="radio"]:checked::before,
input[type="radio"]:hover::before,
input[type="radio"]:active::before,
input[type="radio"]:focus::before {
  opacity: 1;
}


/* Base styles for custom select */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /* hide original SELECT element */
  }
  
  /* Selected item style */
  .select-selected {
    background-color: var(--semi-transparent);
    backdrop-filter: blur(5px); /* backdrop filter for blur effect */
    -webkit-backdrop-filter: blur(5px); /* fallback for Safari */
    opacity: 0.9; /* reduce opacity for better readability */
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Arrow icon */
  .select-selected:after {
    position: absolute;
    content: "";
    top: calc(50% - 3px);
    right: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
  }
  
  /* Active state of the select box */
  .select-selected.select-arrow-active:after {
    transform: rotate(-135deg);
  }
  
  /* Styles for options */
  .select-items div,
  .select-selected {
    color: var(--text-color);
  }
  
  /* Option item style */
  .select-items div {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Container for options */
  .select-items {
    position: absolute;
    background-color:  var(--background-color);
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    z-index: 99;
    backdrop-filter: blur(5px); /* backdrop filter for blur effect */
    -webkit-backdrop-filter: blur(5px); /* fallback for Safari */
    opacity: 0.9; /* reduce opacity for better readability */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;
  }
  
  /* Hide the options when the select box is closed */
  .select-hide {
    display: none;
  }
  
  /* Hover style for options */
  .select-items div:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  

/* Common styles for .title and .form-label */
.title,
.form-label {
  padding: 5px;
  margin: auto;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.541);
  transition: color 0.3s;
}

.form-label {
    font-size: 1.2rem;
}

/* Hover effect for .title and .form-label */
.title:hover,
.form-label:hover {
  color: var(--text-color);
}

/* Common styles for .form-check-input */
.form-check-input {
  padding: 10px;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--semi-transparent);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Focus styles for .form-check-input */
.form-check-input:focus,
.form-check-input:focus-within {
  background-color: var(--semi-transparent);
  color: var(--text-color);
}

/* Placeholder style for .form-check-input */
.form-check-input::placeholder {
  color: var(--text-color);
}

/* Checked state styles for .form-check-input */
.form-check-input:checked {
  background-color: var(--accent-color);
}

/* Checked state placeholder style for .form-check-input */
.form-check-input:checked::placeholder {
  color: var(--text-color);
}

/* Checked state focus styles for .form-check-input */
.form-check-input:checked:focus-within {
  background-color: var(--accent-color);
}

/* Hover effect for .form-check-input */
.form-check-input:hover {
  background-color: var(--semi-transparent);
}

/* Styling for form legend */
form legend {
  padding: auto;
  margin: auto;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.541);
}

/* Common styles for elements under #id */
#id * {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--semi-transparent);
  color: var(--text-color);
}

/* Theme switch styles */
.theme-switch {
  width: 60px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}


/* Button Styles */
.btn-danger {
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s; /* Added transition */
  }
  
  .btn-danger:hover,
  .btn-danger:active,
  .btn-danger:focus {
    background-color: var(--secondary-color);
  }
  
  /* Form Control Styles */
  .form-control {
    color: var(--text-color);
    border: 1px solid var(--border-color); /* Added border */
    border-radius: 4px;
    padding: 8px;
    transition: border-color 0.3s; /* Added transition */
  }
  
  .form-control:focus {
    border-color: var(--accent-color);
  }
  
  /* Placeholder Styles */
  .input-no-content::placeholder {
    color: var(--error-text-color);
  }
  
  /* Additional Styles */
  .value-span {
    font-weight: bold;
  }
  
  /* Language Switch Styles */
  .language-switch {
    position: static;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: transform 0.3s, opacity 0.3s; /* Added transition */
    z-index: 100;
  }
  

  @keyframes showResultAnimation {
    from {
        opacity: 0;
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 1;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@-webkit-keyframes showResultAnimation {
    from {
        opacity: 0;
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 1;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

@keyframes vanishResultAnimation {
    from {
        opacity: 1;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    to {
        opacity: 0;
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }
}

@-webkit-keyframes vanishResultAnimation {
    from {
        opacity: 1;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    to {
        opacity: 0;
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }
}
